<div class="vertical-center">
  <div class="top">
    <div class="xx-large">Kush Grover</div>
  </div>
  <div class="bottom">
    <div>Email: <a href="mailto:kunshgrover@gmail.com">kunshgrover@gmail.com</a></div>
    <div>Medium: <a href="https://medium.com/@kgrvr/" openInNewTab>medium.com/@kgrvr</a></div>
    <div>Github: <a href="https://github.com/kgrvr" openInNewTab>github.com/kgrvr</a></div>
    <div>Facebook: <a href="https://fb.com/kgrvr" openInNewTab>fb.com/kgrvr</a></div>
    <div>Twitter: <a href="https://twitter.com/kush_grover" openInNewTab>twitter.com/kush_grover</a></div>
  </div>
</div>