<div id="card" class="container">
  <div class="card">
    <div class="front">
      <div class="inner-block">
        <div class="inner-block-top">
          <span class="xx-large">Kush Grover</span>
          <div class="small">
            Full Stack Developer
          </div>
        </div>
      </div>
      <div class="inner-bottom">
        <a (click)="linkClicked('about-me')" class="link-spacing">About Me</a>
        <a (click)="linkClicked('my-projects')" class="link-spacing">My Projects</a>
        <a (click)="linkClicked('contact-me')">Contact Me</a>
      </div>
    </div>
    <div class="back">
      <div class="inner-back">
        <ng-template #backContainer></ng-template>
        <div class="inner-bottom">
            <a (click)="linkClicked()">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>