<div id="card" class="container">
  <div>
    <div class="card">
      <div class="inner">
        <div class="inner-block">
          <div class="inner-block-top">
            <span class="xx-large">Kushal Grover</span>
            <div class="small">
              Full Stack Developer
            </div>
          </div>
        </div>
        <div class="inner-bottom">
          <a (click)="linkClicked()" class="link-spacing">About Me</a>
          <a (click)="linkClicked()" class="link-spacing">My Projects</a>
          <a (click)="linkClicked()">Contact Me</a>
        </div>
      </div>
    </div>
  </div>
  <div class="back"></div>
</div>