<div class="text-center xx-large">About Me</div>
<blockquote class="text-center quote">There is beauty in simplicity.</blockquote>
<div class="vertical-center">
<p>Hi there! My name is Kushal Grover, a software developer from New Delhi, India.</p>
<p>
  I believe simplicity is beautiful, so I design things simple as the design of my website. 
  I'm passionate about my work and love what I do.
  <br />Need my services? Lets get in touch.
</p>
<p>Liked what you see? Get the code <a href="https://github.com/kgrvr/KushalGrover" openInNewTab>here.</a></p>
</div>