@import './variables';
@import url($font-import);
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: $body-bg-color;
    min-height: 100%;
    overflow: hidden;
    font-family: $font-family;
}

a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: none;
    transition: $transition;
}

.container {
    @extend .center;
    perspective: 800px;
    text-transform: $container-text-transform;
}

.card {
    box-shadow: $card-shadow;
    background-color: $card-background-color;
    margin: auto;
    text-align: $card-text-align;
    height: $card-height;
    width: $card-width;
    padding: $card-padding;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: -moz-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: -o-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
	transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	border-radius: 6px;
    div {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

.front {
    height: 100%;
    width: 100%;
    color: $inner-text-color;
    background-image: $inner-background-image-darken, url($inner-background-image);
    background-position: center center;
    transition: 2s;
    opacity: 1;
    display: block;
    >.inner-block {
        @extend .center;
        border: $inner-block-border;
        width: $inner-block-width;
        height: $inner-block-height;
        letter-spacing: $inner-block-letter-spacing;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition;
        .small {
            padding-top: 10px;
        }
        >.inner-block-top {
            transition: $transition;
        }
    }
    >.inner-bottom {
        opacity: 0;
    }
}

.inner-bottom {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    transform: translateX(-50%);
    transition: $transition;
    >.link-spacing {
        padding-right: 10px;
    }
}

.front:hover {
    transition: $transition;
    >.inner-bottom {
        bottom: 10%;
        opacity: 1;
        transition: $transition;
    }
}

.flip-card .card {
    background-color: $card-background-color;
    -webkit-transform: rotateX( 180deg);
    -moz-transform: rotateX( 180deg);
    -o-transform: rotateX( 180deg);
    transform: rotateX( 180deg);
    transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    >.back {
        opacity: 1;
        pointer-events: unset;
        transform: rotateX(-180deg);
    }
    .front {
        display: none;
    }
    >.inner-bottom {
        opacity: 1;
    }
}

.back {
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    display: flex;
    >.inner-back {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.xx-large {
    font-size: $inner-block-font-size;
}

.small {
    font-size: small;
}

.text-center {
    text-align: center;
}

.vertical-center {
    text-align: left;
    top: 50%;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    text-transform: initial;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:700px) {
    .card {
        width: $card-height;
        height: $card-width;
        transform: scale(.9);
    }
    .front .inner-bottom {
        bottom: 10%;
        opacity: 1;
    }
    .flip-card .card {
        transform: scale(.9) rotateX( 180deg);
    }
}

@media (max-width:420px) {
    .card {
        transform: scale(.8);
    }
    .flip-card .card {
        transform: scale(.8) rotateX( 180deg);
    }
}