@import './variables';
@import url($font-import);

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: $body-bg-color;
    min-height: 100%;
    overflow: hidden;
    font-family: $font-family;
}

a {
    cursor: pointer;
}

.container {
    @extend .center;
    perspective: 800px;
    text-transform: $container-text-transform;
}

.card {
    box-shadow: $card-shadow;
    background-color: $card-background-color;
    transition: $transition;
    margin: auto;
    text-align: $card-text-align;
    height: $card-height;
    width: $card-width;
    padding: $card-padding;
    /* Card flipping effects */
    transform-style: preserve-3d;
    transition: 0.6s; 
}

.inner {
    height: 100%;
    width: 100%;
    color: $inner-text-color;
    background-image: $inner-background-image-darken, url($inner-background-image);
    background-position: center top;
    transition: 2s;
    opacity: 1;
    > .inner-block {
        @extend .center;
        border: $inner-block-border;
        width: $inner-block-width;
        height: $inner-block-height;
        letter-spacing: $inner-block-letter-spacing;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition;
        .small {
            padding-top: 10px;
        }
        > .inner-block-top {
            transition: $transition;
        }
    }
    > .inner-bottom {
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        width: 100%;
        transform: translateX(-50%);
        transition: $transition;
        > .link-spacing {
            padding-right: 10px;
        }
    }
}
.inner:hover {
    transition: $transition;
    > .inner-bottom {
        bottom: 10%;
        opacity: 1;
        transition: $transition;
    }
}

.flip-card .card, .back {
    background-color: $card-background-color;
    transform: rotateX(-180deg) translateZ(1px);
  > .inner {
      transition: 0.1s;
      opacity: 0;
  }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.xx-large {
    font-size: $inner-block-font-size;
}

.small {
    font-size: small;
}

@media (max-width:700px) {
    .card { 
        transform: scale(.5);
    }
}