$font-import: 'https://fonts.googleapis.com/css?family=Encode+Sans+Expanded';
$font-family: 'Encode Sans Expanded', sans-serif;

$white: #fff;

$body-bg-color: #D6D5DB;
$transition: 0.3s;

$container-text-transform: uppercase;
$back-text-color: #131313;

$card-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
$card-background-color: #f8f8f8;
$card-height: 480px;
$card-width: 640px;
$card-text-align: center;
$card-padding: 25px;

$inner-background-image: "../images/bg.jpg";
$inner-background-image-darken: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
$inner-text-color: $white;

$inner-block-border: 2px solid #fff;
$inner-block-width: 350px;
$inner-block-height: 100px;
$inner-block-font-size: xx-large;
$inner-block-letter-spacing: 4px;

$inner-block-hover-height: 175px;
$inner-block-top-transform: -35px;